services:
  cache:
    image: valkey/valkey:9.0.2
    volumes:
    - redis-data:/data
    command: [valkey-server, --save, '60', '1', --loglevel, warning]
    restart: always
    read_only: true
  database:
    image: postgres:18-alpine
    volumes:
    - postgres-data:/var/lib/postgresql
    env_file:
    - ./environment
    restart: always
  weblate:
    image: weblate/weblate
    depends_on:
    - cache
    - database
    volumes:
    - weblate-data:/app/data
    - weblate-cache:/app/cache
    environment:
      SINGLE_CELERY_PROCESS: 1
    env_file:
    - ./environment
    restart: always
    read_only: true
    tmpfs:
    - /run
    - /tmp
volumes:
  weblate-cache: {}
  weblate-data: {}
  postgres-data: {}
  redis-data: {}
