version: '3'
services:
  weblate:
    image: weblate/weblate
    # To use a custom port, change the first 8080 to your port
    ports:
    - 8080:8080
    tmpfs:
    - /run
    - /tmp
    volumes:
    - weblate-data:/app/data
    - weblate-cache:/app/cache
    env_file:
    - ./environment
    restart: always
    read_only: true
    depends_on:
    - database
    - cache
  database:
    image: postgres:16-alpine
    env_file:
    - ./environment
    volumes:
    - postgres-data:/var/lib/postgresql/data
    restart: always
  cache:
    image: redis:7-alpine
    restart: always
    read_only: true
    command: [redis-server, --save, '60', '1']
    volumes:
    - redis-data:/data
volumes:
  weblate-cache: {}
  weblate-data: {}
  postgres-data: {}
  redis-data: {}
