services:
  cache:
    image: valkey/valkey:9.0.2
    volumes:
    - redis-data:/data
    command: [valkey-server, --save, '60', '1', --loglevel, warning]
    restart: always
    read_only: true
  database:
    image: postgres:18-alpine
    volumes:
    - postgres-data:/var/lib/postgresql
    env_file:
    - ./environment
    restart: always
  weblate:
    image: weblate/weblate
    depends_on:
    - cache
    - database
    - weblate-celery-beat
    volumes:
    - type: volume
      source: weblate-data
      target: /app/data
    environment:
      WEBLATE_SERVICE: web
    env_file:
    - ./environment
    restart: always
    read_only: true
    tmpfs:
    - /run
    - /tmp
    - /app/cache
  weblate-celery-backup:
    image: weblate/weblate
    depends_on:
    - cache
    - database
    - weblate-celery-beat
    volumes:
    - type: volume
      source: weblate-data
      target: /app/data
      volume:
        nocopy: true
    environment:
      WEBLATE_SERVICE: celery-backup
    env_file:
    - ./environment
    restart: always
    read_only: true
    tmpfs:
    - /run
    - /tmp
    - /app/cache
  weblate-celery-beat:
    image: weblate/weblate
    depends_on:
    - cache
    - database
    volumes:
    - type: volume
      source: weblate-data
      target: /app/data
      volume:
        nocopy: true
    environment:
      WEBLATE_SERVICE: celery-beat
    env_file:
    - ./environment
    restart: always
    read_only: true
    tmpfs:
    - /run
    - /tmp
    - /app/cache
  weblate-celery-celery:
    image: weblate/weblate
    depends_on:
    - cache
    - database
    - weblate-celery-beat
    volumes:
    - type: volume
      source: weblate-data
      target: /app/data
      volume:
        nocopy: true
    environment:
      WEBLATE_SERVICE: celery-celery
    env_file:
    - ./environment
    restart: always
    read_only: true
    tmpfs:
    - /run
    - /tmp
    - /app/cache
  weblate-celery-memory:
    image: weblate/weblate
    depends_on:
    - cache
    - database
    - weblate-celery-beat
    volumes:
    - type: volume
      source: weblate-data
      target: /app/data
      volume:
        nocopy: true
    environment:
      WEBLATE_SERVICE: celery-memory
    env_file:
    - ./environment
    restart: always
    read_only: true
    tmpfs:
    - /run
    - /tmp
    - /app/cache
  weblate-celery-notify:
    image: weblate/weblate
    depends_on:
    - cache
    - database
    - weblate-celery-beat
    volumes:
    - type: volume
      source: weblate-data
      target: /app/data
      volume:
        nocopy: true
    environment:
      WEBLATE_SERVICE: celery-notify
    env_file:
    - ./environment
    restart: always
    read_only: true
    tmpfs:
    - /run
    - /tmp
    - /app/cache
  weblate-celery-translate:
    image: weblate/weblate
    depends_on:
    - cache
    - database
    - weblate-celery-beat
    volumes:
    - type: volume
      source: weblate-data
      target: /app/data
      volume:
        nocopy: true
    environment:
      WEBLATE_SERVICE: celery-translate
    env_file:
    - ./environment
    restart: always
    read_only: true
    tmpfs:
    - /run
    - /tmp
    - /app/cache
volumes:
  weblate-data: {}
  postgres-data: {}
  redis-data: {}
